<!--Ttitle and main navbar UI -->
<div class="root">
<div class="navbar has-background-grey-darker">
    <div class="navbar-brand">
    <div class="navbar-item">
        <h1 class="app-name text-color">Kanban Prototpye</h1>
    </div>
  </div>
</div>

    <!-- Board for Kan ban -->
    <div class="board">

    <div class="board-bar">

     <p class="board-name">Big Board</p>

    </div>

    <!--* creating the coloumns for the KanBan board-->
    <div class="board-wrapper">

      <div class="board-columns">
        
        <div class="board-column ">     <!--* creating column boards that will be the base for the boxes to live in -->
          <div class="column-title">   <!--* this is the column titles for each diffrent board-->
            Avalible VM 
          </div>
          <div class="task-container">      <!--* this is a task container inside of a column -->
            <div class="task">              <!--* this is a task inside of the container , this will be where I create my individula tasks. -->
              this is a task 
            </div>
          </div>
        </div>

        <div class="board-column ">
          <div class="column-title">
           In Use 
          </div>
         
        </div>

        <div class="board-column ">
          <div class="column-title">
            needing attention
          </div>
          
        </div>

    </div>

    </div>
<!--* when creating anythig inside of HTML remeber of have it always within the main root DIV,-->
<!--*since this will cause the HTML to not exsist. -->
</div>


