<!--Ttitle and main navbar UI -->
<div class="root">
<div class="navbar has-background-grey-darker">
    <div class="navbar-brand">
    <div class="navbar-item">
        <h1 class="app-name text-color">Kanban Prototpye</h1>
    </div>
  </div>
</div>

    <!-- Board for Kan ban -->
    <div class="board">

    <div class="board-bar">

     <p class="board-name">Big Board</p>

    </div>

    <!--* creating the coloumns for the KanBan board-->
    <div class="board-wrapper">

      <div class="board-columns">
        
        <div class="board-column ">
    
    
        </div>
      </div>
    </div>

    </div>
<!--* when creating anythig inside of HTML remeber of have it always within the main root DIV,-->
<!--*since this will cause the HTML to not exsist. -->
</div>


